.gradual-change {
    .ant-layout {
        background: linear-gradient(120deg, #bc00e3, #4efffb) !important;
    }
    .ant-layout-sider,
    .ant-layout-sider .logo,
    .ant-menu,
    .ant-layout-header,
    .layout.ant-layout .header,
    .sucheng-count {
        background-color: transparent !important;
        color: #fff;
    }
    .ant-menu-submenu-popup {
        background-color: #333;
        .ant-menu-item {
            a {
                color: #fff;
            }
            &:hover {
                span {
                    color: #409eff;
                }
            }
        }
    }
    .ant-layout-header {
        .ant-breadcrumb {
            a,span {
                color: #fff;
            }
            .ant-breadcrumb-separator {
                color: #fff;
            }
        }
        .header-notice {
            .ant-badge {
                color:#fff;
            }
        }
        .user-dropdown-menu span {
            color:#fff;
        }
    }
}