.gradual-change .ant-layout {
  background: linear-gradient(120deg, #bc00e3, #4efffb) !important;
}
.gradual-change .ant-layout-sider,
.gradual-change .ant-layout-sider .logo,
.gradual-change .ant-menu,
.gradual-change .ant-layout-header,
.gradual-change .layout.ant-layout .header,
.gradual-change .sucheng-count {
  background-color: transparent !important;
  color: #fff;
}
.gradual-change .ant-menu-submenu-popup {
  background-color: #333;
}
.gradual-change .ant-menu-submenu-popup .ant-menu-item a {
  color: #fff;
}
.gradual-change .ant-menu-submenu-popup .ant-menu-item:hover span {
  color: #409eff;
}
.gradual-change .ant-layout-header .ant-breadcrumb a,
.gradual-change .ant-layout-header .ant-breadcrumb span {
  color: #fff;
}
.gradual-change .ant-layout-header .ant-breadcrumb .ant-breadcrumb-separator {
  color: #fff;
}
.gradual-change .ant-layout-header .header-notice .ant-badge {
  color: #fff;
}
.gradual-change .ant-layout-header .user-dropdown-menu span {
  color: #fff;
}
