.lively .ant-layout {
  background-color: #002253 !important;
}
.lively .ant-layout-sider,
.lively .ant-layout-sider .logo,
.lively .ant-menu,
.lively .ant-layout-header,
.lively .layout.ant-layout .header,
.lively .sucheng-count {
  background-color: transparent !important;
  color: #fff;
}
.lively .ant-menu-submenu-popup {
  background-color: #333;
}
.lively .ant-menu-submenu-popup .ant-menu-item a {
  color: #fff;
}
.lively .ant-menu-submenu-popup .ant-menu-item:hover span {
  color: #409eff;
}
.lively .ant-layout-header .ant-breadcrumb a,
.lively .ant-layout-header .ant-breadcrumb span {
  color: #fff;
}
.lively .ant-layout-header .ant-breadcrumb .ant-breadcrumb-separator {
  color: #fff;
}
.lively .ant-layout-header .header-notice .ant-badge {
  color: #fff;
}
.lively .ant-layout-header .user-dropdown-menu span {
  color: #fff;
}
