.star-squashed .ant-layout {
  background-image: url("/img/bg/star-squashed.jpg");
  background-size: 100% 100%;
}
.star-squashed .ant-layout-sider,
.star-squashed .ant-layout-sider .logo,
.star-squashed .ant-menu,
.star-squashed .ant-layout-header,
.star-squashed .layout.ant-layout .header,
.star-squashed .sucheng-count {
  background-color: transparent !important;
  color: #fff;
}
.star-squashed .ant-menu-submenu-popup {
  background-color: #333;
}
.star-squashed .ant-menu-submenu-popup .ant-menu-item a {
  color: #fff;
}
.star-squashed .ant-menu-submenu-popup .ant-menu-item:hover span {
  color: #409eff;
}
.star-squashed .ant-layout-header .ant-breadcrumb a,
.star-squashed .ant-layout-header .ant-breadcrumb span {
  color: #fff;
}
.star-squashed .ant-layout-header .ant-breadcrumb .ant-breadcrumb-separator {
  color: #fff;
}
.star-squashed .ant-layout-header .header-notice .ant-badge {
  color: #fff;
}
.star-squashed .ant-layout-header .user-dropdown-menu span {
  color: #fff;
}
