@import '../index';

@multi-tab-prefix-cls: ~"@{ant-pro-prefix}-multi-tab";
@multi-tab-wrapper-prefix-cls: ~"@{ant-pro-prefix}-multi-tab-wrapper";

/*
.topmenu .@{multi-tab-prefix-cls} {
  max-width: 1200px;
  margin: -23px auto 24px auto;
}
*/
.@{multi-tab-prefix-cls} {
  margin: -23px -24px 24px -24px;
  background: #fff;
}

.topmenu .@{multi-tab-wrapper-prefix-cls} {
  max-width: 1200px;
  margin: 0 auto;
}

.topmenu.content-width-Fluid .@{multi-tab-wrapper-prefix-cls} {
  max-width: 100%;
  margin: 0 auto;
}

.sucheng-count {
  position: fixed;
  padding: 10px 0;
  background: #f0f2f5;
  z-index: 3;
  .sucheng-tags {
    padding: 5px 10px;
    box-sizing: border-box;
    border-top: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    .ant-tabs-card {
      .ant-tabs-bar {
        border: none;
        margin: 0 0 1px 0;
        .ant-tabs-tab {
          border: 1px solid #e8e8e8 !important;
          line-height: 30px !important;
          height: 32px !important;
          margin-right: 6px !important;
        }
        .ant-tabs-tab:last-child {
          margin-right: 0px !important;
        }
      }
      .ant-tabs-card-bar {
        .ant-tabs-nav-container {
          height:32px !important;
        }
      }
    }
    .sucheng-tags__menu {
      position: absolute !important;
      top: 0px;
      right: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .ant-tabs--card>.ant-tabs__header {
        margin: 0;
    }
    .ant-tabs--card>.ant-tabs__header .ant-tabs__nav,
    .ant-tabs--card>.ant-tabs__header .ant-tabs__item,
    .ant-tabs--card>.ant-tabs__header {
        border: none;
    }
    .ant-tabs--card>.ant-tabs__header .ant-tabs__item:first-child {
        border-left: 1px solid #eee;
    }
    .ant-tabs--card>.ant-tabs-bar .ant-tabs__item {
        margin: 0 3px;
        height: 30px;
        line-height: 30px;
        font-size: 13px;
        font-weight: normal;
        border: 1px solid #eee;
        color: #ccc;
        border-radius: 3px;
        &.is-active {
            border: 1px solid #409EFF;
            color: #409EFF;
        }
    }
    .ant-tabs__nav-prev,
    .ant-tabs__nav-next {
        width: 20px;
        line-height: 34px;
        font-size: 18x;
        text-align: center;
    }
    &__box {
        position: relative;
        box-sizing: border-box;
        padding-right: 85px;
        width: 100%;
    }
  }
}
