<template>
  <div :class="{'show':show}" class="header-search">
    <a-icon type="search" @click.stop="click" class="search-icon"/>
    <a-select
      ref="headerSearchSelect"
      showSearch
      :value="search"
      placeholder="菜单搜索"
      style="width: 200px"
      :defaultActiveFirstOption="false"
      :dropdownMatchSelectWidth="false"
      :showArrow="false"
      :filterOption="false"
      @search="querySearch"
      @change="change"
      class="header-search-select"
    >
      <a-select-option v-for="item in options" :key="item.path" :value="item.path">
        {{ item.title.join(' > ') }}
      </a-select-option>
    </a-select>
  </div>
</template>

<script>
// fuse is a lightweight fuzzy-search module
// make search results more in line with expectations
import Fuse from 'fuse.js'
import path from 'path'
import { convertRoutes } from '@/utils/routeConvert'
import { mapState } from 'vuex'
export default {
  name: 'HeaderSearch',
  data () {
    return {
      search: undefined,
      options: [],
      searchPool: [],
      show: false,
      fuse: undefined
    }
  },
  computed: {
    ...mapState({
      // 动态主路由
      mainMenu: state => state.permission.addRouters
    })
  },
  watch: {
    routes () {
      this.searchPool = this.generateRoutes(this.routes)
    },
    searchPool (list) {
      this.initFuse(list)
    },
    show (value) {
      if (value) {
        document.body.addEventListener('click', e => {
            if (e.target.className === 'ant-select-selection__rendered' || e.target.className === 'ant-select-selection__placeholder') {
              return false
            }
            this.close()
        }, false)
      } else {
        document.body.removeEventListener('click', this.close)
      }
    }
  },
  mounted () {
    const routes = convertRoutes(this.mainMenu.find(item => item.path === '/'))
    this.searchPool = this.generateRoutes(routes.children)
    this.options = this.searchPool
  },
  methods: {
    click () {
      this.show = !this.show
      if (this.show) {
        this.$refs.headerSearchSelect && this.$refs.headerSearchSelect.focus()
      }
    },
    close () {
      this.$refs.headerSearchSelect && this.$refs.headerSearchSelect.blur()
      this.show = false
    },
    change (val) {
      this.$router.push(val)
      this.search = ''
      this.$nextTick(() => {
        this.show = false
      })
    },
    initFuse (list) {
      this.fuse = new Fuse(list, {
        shouldSort: true,
        threshold: 0.4,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: [{
          name: 'title',
          weight: 0.7
        }, {
          name: 'path',
          weight: 0.3
        }]
      })
    },
    generateRoutes (routes, basePath = '/', prefixTitle = []) {
      let res = []
      for (const router of routes) {
        const data = {
          path: path.resolve(basePath, router.path),
          title: [...prefixTitle]
        }

        if (router.meta && router.meta.title) {
          data.title = [...data.title, router.meta.title]

          if (router.redirect !== 'noRedirect') {
            res.push(data)
          }
        }

        if (router.children) {
          const tempRoutes = this.generateRoutes(router.children, data.path, data.title)
          if (tempRoutes.length >= 1) {
            res = [...res, ...tempRoutes]
          }
        }
      }
      return res
    },
    querySearch (query) {
      if (query !== '') {
        this.options = this.fuse.search(query)
      } else {
        this.options = this.searchPool
      }
    }
  }
}
</script>

<style lang="less" scoped>
.header-search {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 100%;
  font-size: 18px;
  color: #5a5e66;
  vertical-align: text-bottom;

  .search-icon {
    cursor: pointer;
    font-size: 18px;
    vertical-align: middle;
  }

  .header-search-select {
    font-size: 14px;
    transition: width 0.2s;
    width: 0 !important;
    overflow: hidden;
    background: transparent;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;

    /deep/ .el-input__inner {
      border-radius: 0;
      border: 0;
      padding-left: 0;
      padding-right: 0;
      box-shadow: none !important;
      border-bottom: 1px solid #d9d9d9;
      vertical-align: middle;
    }
  }

  &.show {
    .header-search-select {
      width: 210px !important;
      margin-left: 10px;
    }
  }
}
</style>
