<template>
  <a-layout :class="['layout', device]">
    <!-- SideMenu -->
    <a-drawer
      v-if="isMobile()"
      placement="left"
      :wrapClassName="`drawer-sider ${navTheme}`"
      :closable="false"
      :visible="collapsed"
      @close="drawerClose"
    >
      <side-menu
        mode="inline"
        :menus="menus"
        :theme="navTheme"
        :collapsed="false"
        :collapsible="true"
        @menuSelect="menuSelect"
      ></side-menu>
    </a-drawer>

    <side-menu
      v-else-if="isSideMenu()"
      mode="inline"
      :menus="menus"
      :theme="navTheme"
      :collapsed="collapsed"
      :collapsible="true"
    ></side-menu>

    <a-layout :class="[layoutMode, `content-width-${contentWidth}`]" :style="{ paddingLeft: contentPaddingLeft, minHeight: '100vh' }">
      <!-- layout header -->
      <global-header
        :mode="layoutMode"
        :menus="menus"
        :theme="navTheme"
        :collapsed="collapsed"
        :device="device"
        @toggle="toggle"
      />
      <!-- layout content -->
      <a-layout-content :style="{ height: '100%', marginTop: fixedHeader ? '64px' : '0' }">
        <multi-tab
          v-if="multiTab"
          :style="{
            top: fixedHeader ? '64px' : tagsTop,
            width: !isMobile() ? layoutMode === 'sidemenu' ? collapsed ?'calc(100% - 80px)':'calc(100% - 256px)' : '100%' : '100%',
            left: !isMobile() ? layoutMode === 'sidemenu' ? collapsed ? '80px' : '256px' : '' : ''
          }"
        >
        </multi-tab>
        <div
          :style="{
            margin: multiTab ? '63px 10px 10px' : '10px',
            height: fixedHeader ? 'calc(100% - 256px)' : ''
          }"
        >
          <transition name="page-transition">
            <route-view class="content"/>
          </transition>
        </div>
      </a-layout-content>

      <!-- layout footer -->
      <!-- <a-layout-footer>
        <global-footer />
      </a-layout-footer> -->

      <!-- Setting Drawer (show in development mode) -->
      <setting-drawer v-if="!production && !isMobile()" ref="settingDrawer"></setting-drawer>
    </a-layout>
  </a-layout>

</template>

<script>
import { triggerWindowResizeEvent } from '@/utils/util'
import { mapState, mapActions } from 'vuex'
import { mixin, mixinDevice } from '@/utils/mixin'
import config from '@/config/defaultSettings'

import RouteView from './RouteView'
import SideMenu from '@/components/Menu/SideMenu'
import GlobalHeader from '@/components/GlobalHeader'
import GlobalFooter from '@/components/GlobalFooter'
import SettingDrawer from '@/components/SettingDrawer'
import { convertRoutes } from '@/utils/routeConvert'

export default {
  name: 'BasicLayout',
  mixins: [mixin, mixinDevice],
  components: {
    RouteView,
    SideMenu,
    GlobalHeader,
    GlobalFooter,
    SettingDrawer
  },
  data () {
    return {
      production: config.production,
      collapsed: false,
      menus: [],
      tagsTop: 64
    }
  },
  computed: {
    ...mapState({
      // 动态主路由
      mainMenu: state => state.permission.addRouters
    }),
    contentPaddingLeft () {
      if (!this.fixSidebar || this.isMobile()) {
        return '0'
      }
      if (this.sidebarOpened) {
        return '256px'
      }
      return '80px'
    }
  },
  watch: {
    sidebarOpened (val) {
      this.collapsed = !val
    }
  },
  created () {
    const routes = convertRoutes(this.mainMenu.find(item => item.path === '/'))
    this.menus = (routes && routes.children) || []
    this.collapsed = !this.sidebarOpened
    window.addEventListener('scroll', this.handleScroll, true)
  },
  mounted () {
    const userAgent = navigator.userAgent
    if (userAgent.indexOf('Edge') > -1) {
      this.$nextTick(() => {
        this.collapsed = !this.collapsed
        setTimeout(() => {
          this.collapsed = !this.collapsed
        }, 16)
      })
    }
  },
  methods: {
    ...mapActions(['setSidebar']),
    handleScroll (e) {
      if ((this.$refs.settingDrawer && this.$refs.settingDrawer.visible) || this.$store.getters.fixedHeader) {
        return false
      }
      const scrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop // 执行代码
      this.tagsTop = (64 - scrollTop) > 0 ? (64 - scrollTop) + 'px' : '-10px'
    },
    toggle () {
      this.collapsed = !this.collapsed
      this.setSidebar(!this.collapsed)
      triggerWindowResizeEvent()
    },
    paddingCalc () {
      let left = ''
      if (this.sidebarOpened) {
        left = this.isDesktop() ? '256px' : '80px'
      } else {
        left = (this.isMobile() && '0') || ((this.fixSidebar && '80px') || '0')
      }
      return left
    },
    menuSelect () {
    },
    drawerClose () {
      this.collapsed = false
    }
  }
}
</script>

<style lang="less">
// .page-transition-enter {
//   opacity: 0;
// }

// .page-transition-leave-active {
//   transition: opacity .5s;
// }

// .page-transition-enter .page-transition-container,
// .page-transition-leave-active .page-transition-container {
//   -webkit-transform: scale(1.1);
//   transform: scale(1.1);
// }

/* 设置持续时间和动画函数 */
.page-transition-enter-active {
  transition: all 1s ease;
}
.page-transition-leave-active {
  transition: all .8s ease;
}
.page-transition-enter, .page-transition-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translate(0,-500px);
  opacity: 0;
}
</style>
